.map {
  height: 100%;
  width: 100%;
  position: relative;
}

.map .go_to_maps {
  position: absolute;
  bottom: 20px;
  right: 35px;
}

.map .current_location {
  position: absolute;
  backdrop-filter: blur(50px) saturate(120%);
  box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
